body, html {
    background-color: #e9ecef;
    font-family: Anton;
}
.container>img {
    position: absolute;
    border-radius: 60%;
    left: 60px;
}
.navbar {
    font-family: Abel;
    margin-top: 2em;
}
.jumbotron {
    font: 64px ;
}

.box-size {
    background-color: #e6563b;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: .5em solid white;
    position: relative;
    bottom: 40px;
    left: 40px;
    font-size: 26px;
    color: white;
}
.c2 {
    background-color: #EB9D3A;
}
.c3 {
    background: #7CB06C;
}
.c4 {
    background-color: #00ABA9;
}
.lab-pos {
    position: relative;
    top: 50px;
    left: 42px;
}
.lab-pos1 {
    position: relative;
    top: 50px;
    left: 37px;
}
.lab-pos2 {
    position: relative;
    top: 50px;
    left: 37px;
}
.lab-pos3 {
    position: relative;
    top: 50px;
    left: 53px;
}
.column.one-fourth {
    width: 25%;
}
.column.one-half {
    width: 50%;
}
.column.three-fourths {
    width: 75%;
}









/*small*/







/*medium*/







/*large*/








/*extra-large*/
